
html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: #2e5e79;
    font-size: 12px;
    font-family: Calibri, 'Microsoft Yahei',"Helvetica Neue",Helvetica,Arial, sans-serif;
    /*font-family: Tahoma, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;*/
}

header{
    margin-bottom: 1rem;
}
.headbar {
    background: #204562;
    border-bottom: 1px solid #406079;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.headbar .user-info {
    margin: 0px;
    margin-top: 0.8rem;
    padding-right: 1.5rem;
    list-style: none;
    color: #fff;
}

.headbar .user-info ul, .user-info li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.headbar .user-info li {
    display: inline;
    margin-right: 1rem;
}
.headbar .avatar {
    margin-right: 1rem;
}
.headbar .login-out a{
    color:#A1EAFF; font-weight:normal;
    text-decoration: none;
}
.headbar .login-out a:hover{
    color:#fff;
}
.headbar .login-time {
    color: #C2C2C2;
}
.headbar .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    padding-left: 1rem;
}
.headbar .navbar-brand:hover, .headbar .navbar-brand:active, .headbar .navbar-brand:focus{
    color: #fff;
}
.nav-menu {
    margin-bottom: 1rem;
}
#nav{
    background: url(../img/nav-repeat2.jpg) repeat-x #305b7b !important;
}
#nav a{
    color: #fff;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    font-weight: 700;
    font-size: 14px;
}
#nav a:hover, #nav a:active, #nav a:focus, #nav a:visited,
#nav li:hover, #nav li:active, #nav li:focus, #nav li:visited{
    background: #204562;
}
#nav li.active, #nav a.active {
    background: #103d5f;
}

.content-container > .row {
    display: none;
}
.content-container .active {
    display: block;
}



/* boxes
----------------------------------------------- */
.box {
    background:#fff;
    margin-bottom:20px;
    padding:10px 10px 10px 10px; margin-left:-8px;
}
.box.grid{padding-bottom:40px;}
.box.round{
    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}

.box h2 {
    font-size:1.2em;
    font-weight:bold;
    color:#1B548D;
    background:#E6F0F3;
    margin:-10px -10px 0 -10px;
    padding:10px 12px;
    border-bottom:1px solid #B3CBD6;

    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}

@media (min-width: 1280px){
    .container {
         width: 1220px;
    }
}
@media (min-width: 1380px){
    .container {
        width: 1320px;
    }
}
@media (min-width: 1500px){
    .container {
        width: 1420px;
    }
}
@media (min-width: 1600px){
    .container {
        width: 1520px;
    }
}
