@airport_bgc:#fff;@border_color:#E6E9ED;@font_color:#5A738E;@font_family:Calibri,'Microsoft Yahei', sans-serif!important;
//航班监控
.modal-open{
  overflow: auto;
}
#home{
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  /*全局样式*/
  ul{
    li{
      list-style: none;
    }
  }
  a{
    color: #000;
  }
  a:hover{
    text-decoration: none;
    text-decoration-style: wavy;
    color: #0f0f0f;
  }
  a:focus{text-decoration: none}
  .group_list{
    overflow: hidden;
    margin-bottom: 0;
    padding: 0 ;
    clear: both;
    .flight_group{
      width: 100%;
      min-height: 210px;
      margin: 5px  0;
      h2{
        overflow: hidden;
        font-size: 16px;
        .airports_detail{
          color: #337ab7;
          font-size: 11px;
        }
        .airports_detail:hover{
          color: #1B548D ;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .infor_time{
        float: right;
        padding-right: 15px;
      }
      .information{
        width: 100%;
        padding-top: 5px;
        .num_chart{
          margin-top: 15px;
          height: 170px;
        }
        .airport{
          margin-top: 15px;
          height: 170px;
          border-radius: 5px;
          background-color: @airport_bgc;
          border: 1px solid #E6E9ED;
          padding: 0;
          display: flex;
          flex-direction: column;
          a{
            height: 100%;
          }
          .air{
            display: inline-block;
            height: 100%;
            width: 100%;
          }
          .airport_head{
            overflow: hidden;
            height: 40px;
            border-bottom: 1px solid @border_color;
            text-align: center;
            .file_num{
              float: right;
              width: 20%;
              margin: 20px 0 0 ;
              color: @font_color;
            }
            .airport_num{
              float: left;
              margin: 20px 0 0;
              width: 20%;
              color: @font_color;

            }
            .information_name{
              float: left;
              line-height: 40px;
              height: 40px;
              width: 60%;
              font-size: 16px;
              color: @font_color;
            }
          }
          .airport_data_detail{
            height: 97%;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            li{
              width: 100%;
              overflow: hidden;
              margin: 3px 0;
              text-align: center;
              //flex: 1;
              display: flex;
              align-items: center;
              p{
                font-size: 14px;
                margin-bottom: 0;
                color: @font_color;
                min-height: 20px;
                line-height: 20px;
                display: table-cell;
                vertical-align: middle;
              }
              .airport_position{
                float: left;
                width: 60%;
                color: @font_color;
              }
              .num{
                float: left;
                width: 20%;
                text-align: center;
                color: @font_color;
              }
              .f_num{
                float: right;
                width: 20%;
                color: @font_color;
              }
            }
            .position{
              margin-top: 10px;
            }
            .ground{
              margin-top: 10px;
            }
          }
          .monitor_ul{
            display: block;
            overflow: hidden;
            .flight_move{
              margin: 15px 0 10px;
            }
            .flight_cal{
              margin: 10px  0 15px;
            }
          }
        }
        .file_chart{
          margin-top: 15px;
          height: 170px;
        }
        .clb{
          clear: both;
        }
      }
    }
  }
}
//机场运行信息
#airport{
  #airport_container{
    width: 100%;
    height: 95%;
    clear: both;
    .breadcrumb{
      overflow: hidden;
      li{
        float: left;
        a{
          cursor: pointer;
        }
      }
      .curnt{
        color: #000;
      }
    }
    .flight_group{
      width: 100%;
      min-height: 210px;
      margin: 5px  0;
      h2{
        overflow: hidden;
      }
      .infor_time{
        float: right;
        padding-right: 15px;
      }
      .information{
        width: 100%;
        padding-top: 5px;
        .num_chart{
          margin-top: 15px;
          height: 170px;
        }
        .airport{
          margin-top: 15px;
          height: 170px;
          border-radius: 5px;
          background-color: @airport_bgc;
          border: 1px solid #E6E9ED;
          padding: 0;
          display: flex;
          flex-direction: column;
          a{
            height: 100%;
          }
          .air{
            display: inline-block;
            height: 100%;
            width: 100%;
          }
          .airport_head{
            overflow: hidden;
            height: 40px;
            border-bottom: 1px solid @border_color;
            text-align: center;
            .file_num{
              float: right;
              width: 20%;
              margin: 20px 0 0 ;
              color: @font_color;
            }
            .airport_num{
              float: left;
              margin: 20px 0 0;
              width: 20%;
              color: @font_color;

            }
            .information_name{
              float: left;
              line-height: 40px;
              height: 40px;
              width: 60%;
              font-size: 16px;
              color: @font_color;
            }
          }
          .airport_data_detail{
            height: 97%;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            li{
              width: 100%;
              overflow: hidden;
              margin: 3px 0;
              text-align: center;
              //flex: 1;
              display: flex;
              align-items: center;
              p{
                font-size: 14px;
                margin-bottom: 0;
                color: @font_color;
                min-height: 20px;
                line-height: 20px;
                display: table-cell;
                vertical-align: middle;
              }
              .airport_position{
                float: left;
                width: 60%;
                color: @font_color;
              }
              .num{
                float: left;
                width: 20%;
                text-align: center;
                color: @font_color;
              }
              .f_num{
                float: right;
                width: 20%;
                color: @font_color;
              }
            }
            .position{
              margin-top: 10px;
            }
            .ground{
              margin-top: 10px;
            }
          }
          .monitor_ul{
            display: block;
            overflow: hidden;
            .flight_move{
              margin: 15px 0 10px;
            }
            .flight_cal{
              margin: 10px  0 15px;
            }
          }
        }
        .file_chart{
          margin-top: 15px;
          height: 170px;
        }
        .clb{
          clear: both;
        }
      }
    }
  }
}
//航空公司运行信息
#company{
  /*数据展示面板*/
  #company_container{
    width: 100%;
    height: 95%;
    clear: both;
    .breadcrumb{
      overflow: hidden;
      li{
        float: left;
        a{
          cursor: pointer;
        }
      }
    }
    .flight_group{
      width: 100%;
      min-height: 210px;
      margin: 5px  0;
      h2{
        overflow: hidden;
      }
      .infor_time{
        float: right;
        padding-right: 15px;
      }
      .information{
        width: 100%;
        padding-top: 5px;
        .num_chart{
          margin-top: 15px;
          height: 170px;
        }
        .airport{
          margin-top: 15px;
          height: 170px;
          border-radius: 5px;
          background-color: @airport_bgc;
          border: 1px solid #E6E9ED;
          padding: 0;
          display: flex;
          flex-direction: column;
          a{
            height: 100%;
          }
          .air{
            display: inline-block;
            height: 100%;
            width: 100%;
          }
          .airport_head{
            overflow: hidden;
            height: 40px;
            border-bottom: 1px solid @border_color;
            text-align: center;
            .file_num{
              float: right;
              width: 20%;
              margin: 20px 0 0 ;
              color: @font_color;
            }
            .airport_num{
              float: left;
              margin: 20px 0 0;
              width: 20%;
              color: @font_color;

            }
            .information_name{
              float: left;
              line-height: 40px;
              height: 40px;
              width: 60%;
              font-size: 16px;
              color: @font_color;
            }
          }
          .airport_data_detail{
            height: 97%;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            li{
              width: 100%;
              overflow: hidden;
              margin: 3px 0;
              text-align: center;
              //flex: 1;
              display: flex;
              align-items: center;
              p{
                font-size: 14px;
                margin-bottom: 0;
                color: @font_color;
                min-height: 20px;
                line-height: 20px;
                display: table-cell;
                vertical-align: middle;
              }
              .airport_position{
                float: left;
                width: 60%;
                color: @font_color;
              }
              .num{
                float: left;
                width: 20%;
                text-align: center;
                color: @font_color;
              }
              .f_num{
                float: right;
                width: 20%;
                color: @font_color;
              }
            }
            .position{
              margin-top: 10px;
            }
            .ground{
              margin-top: 10px;
            }
          }
          .monitor_ul{
            display: block;
            overflow: hidden;
            .flight_move{
              margin: 15px 0 10px;
            }
            .flight_cal{
              margin: 10px  0 15px;
            }
          }
        }
        .file_chart{
          margin-top: 15px;
          height: 170px;
        }
        .clb{
          clear: both;
        }
      }
    }
  }
}