#data-query {
  height: 100%;
  width: 100%;
}
#data-query .nav-menu {
  flex: 1;
  background-color: #d7d7d7;
  position: static;
  width: 100%;
  padding: 1rem;
  font-size: 1.425rem;
}
#data-query .nav-menu ul,
#data-query .nav-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
#bootstrap-modal-dialog .list-btn .btn,
#bootstrap-modal-dialog .list-btn ul.dropdown-menu {
  width: 100%;
}
#bootstrap-modal-dialog .list-btn ul.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
#bootstrap-modal-dialog .row {
  margin-bottom: 1.5rem;
}
#bootstrap-modal-dialog .row-line {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dddddd;
}
.datepicker .table-condensed td {
  padding: 0.45rem 0.9rem;
}
